* {
    margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul li {
  float: right;
}

ul li a {
  display: block;
  color: #f3ece3;
  text-align: center;
  padding: 30px 30px 20px 30px;
  text-decoration: none;
}

.text h1{
    font-size: 50px;
    color: #f3ece3;
}

.Lpage .text p {
    color: #f3ece3;
}

ul li a:hover {
  background-color: #111111;
}

.Lpage {
    display: inline-flex;
    background-color: #333333;
    width: 100%;
}

.Lpage img {
    margin: 30px 0px 0px 150px;
    height: 330px;
    width: 260px;
}

.Lpage .text {
    margin: 50px 0px 50px 0px;
}

.aboutme h2 {
    justify-content: center;
    margin: 30px 0 0 200px;
    font-size: 35px;
}

.aboutme .text {
    display: inline-flex;
    text-align: center;
}

.aboutme .text p {
    text-align: justify;
    max-width: 50%;
    margin: 20px 0 20px 200px;
    font-size: 20px;
}

.aboutme .text img {
    justify-content: right;
    margin: 0 0 20px 95px;
    height: 8%;
    width: 12%;
}

.box {
    background-color: #333333;
}

.box h2 {
    justify-content: center;
    text-align: center;
    color: #f3ece3;
    padding-top: 30px;
    font-size: 35px;
}

h3 a{
    text-decoration: none;
    color: #111111;
}

.box .atas {
    display: inline-flex;
    margin: 40px 0 30px 220px;
}

.atas img {
    width: 100%;
    height: 80%;
}

.bawah img {
    width: 100%;
    height: 80%;
}

.sma {
    width: 20%;
    border-radius: 5px;
    margin: 0 8% 0 0;
    background-color: #f3ece3;
    padding: 10px;
}

.kuliah {
    width: 20%;
    border-radius: 5px;
    margin: 0 8% 0 0;
    background-color: #f3ece3;
    padding: 10px;
}

.organisasi {
    width: 20%;
    border-radius: 5px;
    margin: 0 8% 0 0;
    background-color: #f3ece3;
    padding: 10px;
}

.box .bawah {
    display: inline-flex;
    margin: 20px 0 30px 220px;
}

.kepanitiaan {
    width: 20%;
    border-radius: 5px;
    margin: 0 8% 0 0;
    background-color: #f3ece3;
    padding: 10px;
}

.magang {
    width: 20%;
    border-radius: 5px;
    margin: 0 8% 0 0;
    background-color: #f3ece3;
    padding: 10px;
}

.stupen {
    width: 20%;
    border-radius: 5px;
    margin: 0 8% 0 0;
    background-color: #f3ece3;
    padding: 10px;
}

.porto h2 {
    justify-content: center;
    text-align: center;
    color: #333333;
    padding: 30px 0 0px 0;
    font-size: 35px;
}

.porto .website {
    display: inline-flex;
    margin-left: 110px;
}

.website img {
    height: 350px;
    width: 530px;
    margin: 20px;
}

.porto .mobile {
    display: inline-flex;
    margin-left: 220px;
}

.mobile img {
    width: 190px;
    height: 400px;
    margin: 20px;
}

footer {
  background-color: #333333; 
  padding: 40px 20px;
  text-align: center;
  margin-top: 50px;
}

footer h2 {
  font-size: 22px;
  color: #f3ece3;
  margin-bottom: 20px;
  font-weight: 600;
  letter-spacing: 1px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.social-icons a {
  color: #f3ece3;
  font-size: 30px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.social-icons a:hover {
  transform: scale(1.2);
}

.social-icons a:nth-child(1):hover { color: #E4405F; } 
.social-icons a:nth-child(2):hover { color: #111111; }     
.social-icons a:nth-child(3):hover { color: #0077B5; }  

