.content-wrap{
    object-fit:cover;
    border-radius:6px;
    border:3px solid rgba(102, 89, 89, 0.06);
    width: 50%;
    align-items: center;
    margin-left: 25%;
}
.content{
    display:flex;
    align-items: center;
    gap: 40px;
    align-items:start;
}
h1{
    font-family: Arial, sans-serif;
    font-size:30px;
    text-align: center;
    background-color: yellow;
}
h4{
    font-family: Arial, sans-serif;
    font-size: 13px;
    color: rgb(10, 10, 10);
}
img{
    width:140px;
    height:160px;
    object-fit:cover;
    border-radius:6px;
    border:3px solid rgba(0,0,0,0.06);
    margin-left: 50px;
    margin-top: 15px;
}