*{
  margin: 0;
  font-family: "Poppins", sans-serif;
}

header{
  background-color: #ca4611;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 50px 0 50px;
  position: fixed;
  width: 94%;
}

.logo{
  align-items: center;
  display: flex;
  gap: 10px;
}

.logo img{
  width: 60px;
  height: 60px;
}

.logo h2{
  font-size: medium;
}

nav ul{
  display: flex;
  list-style: none;
  gap: 50px;
}

nav a{
  color: #fff;
  text-decoration: none;
}

.hero{
  background-color: #ffd4c3;
  display: flex;
  justify-content: space-between;
}

.hero h1{
  color: #972c02;
  font-weight: bolder;
  font-size: 90px;
  margin-top: 10px;
  padding: 150px 80px 0 80px;
  text-transform: uppercase;
}

.hero h2{
  color: #972c02;
  font-weight: bolder;
  font-size: 69px;
  padding: 0 80px 0 80px;
  text-transform: uppercase;
}

.hero h3{
  color: #972c02;
  font-weight: bolder;
  margin-top: 0;
  padding: 0 80px 80px 80px;
  font-size: 45px;
  text-transform: uppercase;
}

.hero img{
  display: inline-block;
  width: 80%;
  height: auto;
  margin-left: 90px;
  padding-top: 0;
  margin-top: 100px;
  margin-bottom: 20px;
}

.menu{
  background-color: #fae8e1;
  text-align: center;
  padding: 40px 20px;
}

.menu h2{
  color: #972c02;
  font-size: 28px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.list{
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.variant{
  background-color: #fff;
  border-radius: 10px;
  padding: 15px;
  width: 220px;
}

.variant img{
  width: 100%;
  border-radius: 10px;
}

.variant h3{
  margin-top: 10px;
  color: #972c02;
}

.variant p{
  font-size: 14px;
  color: #333;
}

footer{
  text-align: center;
  background-color: #972c02;
  padding: 20px 10px;
  color: #fff;
}

footer h2{
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 10px;
}

footer p{
  display: inline-block;
  margin: 5px 5px;
  font-weight: 500;
}